<% if session[:user_id].nil? %>
	<%= form_tag sessions_path do %>
	  <div class="field">
	    <%= label_tag :login, t(:login_form) %>
	    <%= text_field_tag :login, params[:login] %>
	  </div>
	  <div class="field">
	    <%= label_tag :password, t(:password) %>
	    <%= password_field_tag :password %>
	  </div>
	  <div class="actions">
	    <%= submit_tag t(:login) %>
	    <%= link_to t(:signup), signup_path %>
    </div>
	<% end %>
<% else %>
    <%=t :logged_user %> <strong><%= current_user.login %></strong><br/>
    <%= link_to t(:settings), edit_user_path(current_user) %>
	<%= button_to t(:logout), logout_path, :method => :delete %>
<% end %>
