<% unless @page.nil? %>
  <div class="page">
    <h2><%= link_to @page.title, @page %></h2>
    <%= @page.content.html_safe %> 
  </div>
<% end %>

<% unless @stories.empty? %>
  <h2><%=t :stories %></h2>
  <% @stories.each do |story| %>
  	<div class="story">
  		<h2><%= link_to story.title, story %></h2>
  		<%= (Truncato.truncate story.content, :max_length => 300).html_safe %>
  	</div>
  <% end %>
<% end %>
