<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2><%=t :form_is_invalid %></h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :login, t(:loginname) %>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :firstname, t(:firstname) %>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname, t(:lastname) %>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :email, t(:email) %>
    <%= f.text_field :email %>
  </div>
  <% if is_admin? %>
    <div class="field">
      <%= f.label :role, t(:role) %>
      <%= collection_select(:user, :role_id, Role.all, :id, :name) %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :password, t(:password) %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, t(:password_confirmation) %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
