<h2><%=t :listing_pages %></h2>

<% if has_right?(:section => :pages) %>
    <p><%= link_to t(:new_page), new_page_path %></p>
<% end %>

<% @pages.each do |page| %>
    <h3><%= link_to page.title, page %></h3>
    <%= page.content.html_safe %>
    <% if has_right?(:section => :pages, :id => page.id) %>
      <p>
        <em><%= page.user.author %></em>
        | <%= link_to t(:edit), edit_page_path(page) %>
        | <%= link_to t(:destroy), page, confirm: t(:are_you_sure), method: :delete %>
      </p>
    <% end %>
<% end %>
