<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="field">
    <%= f.label :title, t(:title) %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field_text">
    <%= f.label :content, t(:content) %><br />
    <%= f.cktext_area :content, :ckeditor => {:toolbar => 'Basic'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
