<h1>Listing stories</h1>

<% if has_right? %>
    <%= link_to t(:new_story), new_story_path %>
<% end %>

<% @stories.each do |story| %>
    <h2><%= link_to story.title, story %></h2>
    <%= story.content.html_safe %>
    <p>
      <em><%= story.user.author %></em>
      <% if has_right?(:id => story.id) %>
        | <%= link_to t(:edit), edit_page_path(story) %>
        | <%= link_to t(:destroy), story, confirm: t(:are_you_sure), method: :delete %>
      <% end %>
    </p>
<% end %>
