<h1>Listing stories</h1>

<%= link_to 'New Story', new_story_path %>

<% @stories.each do |story| %>
    <h2><%= link_to story.title, story %></h2>
    <%= story.content.html_safe %>
    <p>
      <% if story.user.author  %>
        <%= story.user.author %> |
      <% end %>
      <%= link_to 'Edit', edit_page_path(story) %> |
      <%= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete %>
    </p>
<% end %>
