<div class="story">
  <h2><%= @story.title %></h2>
  <%= @story.content.html_safe %>
  <p>
    <%= @story.user.author %> |
    <%= link_to t(:edit), edit_story_path(@story) %> |
    <%= link_to t(:destroy), @story, confirm: 'Are you sure?', method: :delete %>
  </p>
</div>
