<div class="story">
  <h2><%= @story.title %></h2>
  <%= @story.content.html_safe %>
  <p>
    <em><%= @story.user.author %></em>
    <% if has_right?(:section => :stories, :id => @story.id) %>
      | <%= link_to t(:edit), edit_story_path(@story) %>
      | <%= link_to t(:destroy), @story, confirm: t(:are_you_sure), method: :delete %>
    <% end %>
  </p>
  
  <h3><%=t :comments %></h3>
  <%= render @story.comments %>
  
  <h3><%=t :add_comment %></h3>
  <%= form_for([@story, @story.comments.build]) do |f| %>
    <div class="field">
      <% if current_user.nil? %>
        <%= f.label :author, t(:author) %><br />
        <%= f.text_field :author %>
      <% else %>
        <!--<%= f.label :author, current_user.author %>-->
        <%= f.hidden_field :author, :value => current_user.author %>    
        <%= f.hidden_field :user_id, :value => current_user.id %>    
      <% end %>
    </div>
    <div class="field">
      <!--<%= f.label :body, t(:comment) %><br />-->
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
