<!DOCTYPE html>
<html>
<head>
  <title>CMS</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<div id="header">
	     	<p>This is the Header</p>		 
	 	</div>
	 	<div id="navigation">
	     	<ul>
	     		<li><%= link_to "Home", root_url %></li>
	     		<li><%= link_to "Pages", pages_path %></li>
				<li><%= link_to "Stories", stories_path %></li>
			</ul>
	 	</div>
	 	<div id="contentwrapper">
	 	<div id="content">
		 	<% if flash[:notice] %>
				<p id="notice"><%= flash[:notice] %></p>
			<% end %>	
				
			<%= yield %>
		</div>
		<div id="rightcolumn">
			<p>User</p>
			
		</div>
		</div>
		<div id="footer">
			<p>This is the Footer</p>
		</div>   
	</div>
</body>
</html>
